<?xml version="1.0"?>
<config>
	<type>widget</type>
	<id>post-full-image</id>
	<category>
		<main>post</main>
	</category>
	<name>
		<en>Post Full Image</en>
		<ko>샘플 위젯</ko>
	</name>
	<version>1.0</version>
	<author>X-Team</author>
	<email>philgohelp@gmail.com</email>
	<homepage>http://www.philgo.net</homepage>
	<demo>http://philgo.net</demo>
	<short>
		<en>Latest posts with large thumbnails</en>
		<ko>샘플 위젯입니다.</ko>
	</short>
	<detail>
		<en>This widget displays posts subject and a little content with large thumbnails.</en>
		<ko>샘플 위젯입니다. 본 위젯을 복사해서 사용하십시오.</ko>
	</detail>
</config>
